* {background-color: black;
color: aliceblue;
padding-top: 15px;
}

.block {display: flex;
    justify-content: center;
    font-size: 80px;

    }
    .block-text::before {content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 5px solid #fff ;
        top: 50%;
        left: 150px;
        background: red;
        transform:translate(450px,-430px)
        
    }

    .block-text::after {content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 5px solid #fff ;
        top: 50%;
        right: 150px;
        background: blue;
        transform:translate(-450px,-430px)
    }
    